<div class="row" style="height:3rem;"></div>

<div class="row">
  <div class="col-xl-12">
    <h1 class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Centers of Excellence</h1>
  </div>
  
 <div class="row" style="height:2rem;"></div>
     
 
  <div class="row">
    <div class="col-xl-4"></div>
    <div  class="col-xl-8 col-md-12 ">
      
       <ul style="list-style-type: none; display: flex; gap: 50px;">
        <li>
          <img src="./assets/image/cardio.jpg" style="width: 80px; height: 70px; border: 1px solid rgb(142, 142, 233);" class=" rounded-circle"><br><br>
          <p><b>Cardiology</b></p>
        </li> 
        <li>
          <img src="./assets/image/gas.jpg" style="width: 80px; height: 70px; border: 1px solid rgb(142, 142, 233);" class=" rounded-circle"><br><br>
          <p><b>Gastology</b></p> 
        </li>
        <li>
          <img src="./assets/image/neph.jpg" style="width: 80px; height: 70px; border: 1px solid rgb(142, 142, 233);" class=" rounded-circle"><br><br>
          <p><b>Nephrology</b></p> 
        </li>
        <li>
          <img src="./assets/image/oncology.png" style="width: 80px; height: 70px; border: 1px solid rgb(142, 142, 233);" class=" rounded-circle"><br><br>
          <p><b>Oncology</b></p> 
        </li>
       </ul>
  
    </div>
</div>

  
