

<div class="container">
  <div style="text-align:center">
    <h2 style="color: #AED6F1 ">Contact Us</h2>
    
  <div class="row">
    <div class="column">
      <img src="/assets/image/contact1.jpg" style="width:450px" height="400px">
    </div>
    <div class="column">
      <form action="#" class="form1">
        <label  style="color:whitesmoke" ><h2>Address</h2></label>
    <p style="color: #AED6F1;font-family: 'Franklin';font-size: medium;">Sankara Iyer Road,Poothole<br>Thrissur,Kerala,680001</p>
    <h2 style="color: whitesmoke;">Contact Info</h2>
        <p style="color: #AED6F1;font-family: 'Franklin';font-size:large;">Email:doccure@gmail.com</p><br>
        <button type="button"  class="btn" style="background-color: #ECF0F1" ><img src="/assets/image/emeg.png" width="30px"><label class="eh" style="color:blue;"><a href="#">Emergency Contact Number : 152258</a></label></button><br><br>
        <button type="button" class="btn" style="background-color: #ECF0F1"><img src="/assets/image/emerg.jpg" width="30px"><label class="eh"style="color:blue;"><a href="#">Helpline Call Number: 0488-66-99-666</a></label></button><br>
        <label for="country"><h3 style="color: whitesmoke;">Connect with Us</h3></label><br>
        <div class="icon-bar">
          <a href="#" class="facebook"><i class="fa fa-facebook" style="color: #B3B6B7"></i></a> 
          <a href="#" class="twitter"><i class="fa fa-twitter" style="color:  #B3B6B7"></i></a> 
          <a href="#" class="google"><i class="fa fa-google" style="color: #B3B6B7"></i></a> 
          <a href="#" class="linkedin"><i class="fa fa-linkedin" style="color: #B3B6B7"></i></a>
          <a href="#" class="youtube"><i class="fa fa-youtube" style="color: #B3B6B7;"></i></a> 
        </div>
        
        
      </form>
    </div>
  </div>
</div>



